<section id="bulk-discount-information">
  <h1><%= @merchant.name %> Bulk Discount # <%= @merchant_bulk_discount.id %></h1>
  <h3>Quantity Treshold: <%= @merchant_bulk_discount.quantity_treshold %></h3>
  <h3>Percentage Discount: <%= @merchant_bulk_discount.percentage_discount %></h3>
</section>
<section id="edit-info">
  <%= link_to "Edit Bulk Discount", edit_merchant_bulk_discount_path(@merchant, @merchant_bulk_discount) %>
</section>